<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<html>
<div>
    <form>
        Upper Bound %:<input type="number" placeholder="Upper Bound in Percentage" id="ub" name="ub"> <br>
        Lower Bound %:<input type="number" placeholder="Lower Bound in Percentage" id="lb" name="lb"> <br>
        Expand Ratio:<input type="number" placeholder="Expand Ratio" id="ER" name="ER"> <br>
        Shrink Ratio:<input type="number" placeholder="Shrink Ratio" id="SR" name="SR"> <br>
        <input type="button" value="Update" id="update">
    </form>
</div>

</html>
<script type='text/javascript' src="../public/javascripts/test.js"></script>
